<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="2" name="TestNG Forum" parallel="classes">
    <listeners>
        <listener class-name="manager.AppiumTestListener"/>
    </listeners>
    <test name="TestNG Test">
        <parameter name="device" value="192.168.56.101:5555"/>
        <classes>
            <class name="com.carousell.test.CarousellTest"/>
        </classes>
    </test> <!-- TestNG Test -->
</suite> <!-- TestNG Forum -->
